<div class="container">
    <app-common></app-common>
    <div class="row">
        <div class="col">
            <div class="code-block fs-4">
                <span class="keyword">Skills</span> = [<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"Angular"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"Angular Js"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"Python"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"TypeScript"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"JavaScript"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"HTML5"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"CSS3"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"Bootstrap"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"Tailwind CSS"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"RxJS"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"Node.js"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"Express.js"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"MongoDB"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"Git"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"RESTful APIs"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"Material UI"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"Cypress"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"PHP"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"Laravel"</span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"MySQL"</span><br>
                ]<br><br>
                
                <span class="keyword">def show_skills():</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">print</span>(<span class="string">f"My skills include: {{ '{' }}Skills{{ '}' }}"</span>)<br><br>

                <span class="keyword">def build_modern_ui():</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">print</span>(<span class="string">"Building modern, responsive UIs with Angular and TypeScript"</span>)<br><br>
                
                <span class="keyword">def develop_backend():</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">print</span>(<span class="string">"Developing robust backends with Node.js and Express.js"</span>)<br><br>
                
                <span class="keyword">def integrate_apis():</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">print</span>(<span class="string">"Integrating APIs and managing data with MongoDB"</span>)<br><br>
                
                <span class="keyword">def ensure_code_quality():</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">print</span>(<span class="string">"Ensuring code quality with tools like Git and Cypress"</span>)<br><br>
                
                <span class="keyword">def utilize_css_frameworks():</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">print</span>(<span class="string">"Utilizing Bootstrap and Tailwind CSS for stylish, consistent designs"</span>)<br><br>
                
                <span class="keyword">def master_frontend_development():</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">print</span>(<span class="string">"Mastering the art of frontend development with a focus on user experience"</span>)<br><br>
                
                <span class="keyword">show_skills()</span><br>
                <span class="keyword">build_modern_ui()</span><br>
                <span class="keyword">develop_backend()</span><br>
                <span class="keyword">integrate_apis()</span><br>
                <span class="keyword">ensure_code_quality()</span><br>
                <span class="keyword">utilize_css_frameworks()</span><br>
                <span class="keyword">master_frontend_development()</span><br>
            </div>
        </div>
    </div>
</div>
