<div class="container">
    <app-common></app-common>
    <div class="row">
        <div class="col">
            <div class="code-block fs-4">
                <span class="keyword">const </span> <span class="boolean">Faizan</span> = <span class="string">"myName"</span>;<br>
                <span class="keyword">let </span> <span class="boolean">Pakistan</span> = <span class="string">"location"</span>;<br>
                <span class="keyword">let </span> <span class="boolean">Software_Development</span> = <span class="string">"background"</span>;<br>
                <span class="keyword">let </span> <span class="boolean">Frontend_Technologies</span> = <span class="string">"expertise"</span>;<br><br>
            
                <span class="keyword">function </span> <span class="method">showPresentation</span>() {{ '{' }}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">console.log</span>(<span class="string">`Hey there!<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I'm <span class="keyword">${{ '{' }}Faizan{{ '}' }}</span>, a passionate software developer currently based in <span class="keyword">${{ '{' }}Pakistan{{ '}' }}</span>.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My background is rooted in <span class="keyword">${{ '{' }}Software_Development{{ '}' }}</span>, with strong expertise in <span class="keyword">${{ '{' }}Frontend_Technologies{{ '}' }}</span>.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My journey into programming has been nothing short of exciting, and I've devoted myself to mastering various technologies to drive strategic initiatives and build impactful solutions.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`</span>);<br>
                {{ '}' }}<br><br>
            
                <span class="method">showPresentation</span>();<br><br>
            
                <span class="comment">// I am highly motivated and always eager to take on new challenges. Here's what keeps me busy and inspired:</span><br><br>
            
                <span class="comment">// I am also focusing on:</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">// - Enhancing my coding skills</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">// - Exploring the latest in web development</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">// - Pursuing new opportunities to grow as a developer</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">// - Keeping up with industry trends</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">// - Collaborating on innovative projects</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">// - Continuing my journey of learning and growth</span><br>
            </div>
        </div>
    </div>
</div>