backend/env
backend/*
frontend/node_modules
frontend/.angular/cache
frontend/.vscode
.idea/*
frontend/cypress/coverage/*
scripts/
dist/
frontend/build
frontend/app/lib
backend/workingdir
frontend/app/license.txt
frontend/app/viewer/pdf.min.js
frontend/app/viewer/pdf.worker.min.js
frontend/npm-shrinkwrap.json
frontend/tmp
frontend/app/assets/lib
frontend/coverage/*
frontend/cypress/downloads/*
frontend/cypress/screenshots/*
path.py
frontend/.nyc_output/out.json
