
<div class="container">
    <div class="row">
        <div class="col">
            <div class="icon text-center">
                <fa-icon [icon]="faRobot"></fa-icon>
                <fa-icon [icon]="faLaptopCode"></fa-icon>
                <fa-icon [icon]="faPlug"></fa-icon>
            </div>
            <div class="intro">
                <p class="yellow">HELLO!</p>
                <p class="h1 font-weight-bold">I'm <span class="yellow">Faizan Javaid</span></p>
                <p class="h3 yellow">
                  Software Developer
                </p>
                <p class="lead">
                  Currently focused on enhancing my skills in web development to drive strategic initiatives.
                </p>
            </div>
            <div class="icon text-center">
                <fa-icon [icon]="faSave"></fa-icon>
                <fa-icon [icon]="faTablet"></fa-icon>
                <fa-icon [icon]="faServer"></fa-icon>
            </div>
            <div class="code-block fs-4">
                <span class="keyword">namespace </span> <span class="string">Portfolio.Models</span> {{ '{' }}<br>
                &nbsp;&nbsp;<span class="keyword">class </span> <span class="string">FaizanJavaid</span> {{ '{' }}<br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">// Attributes</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">private </span> <span class="boolean">reliable</span>: <span class="keyword">boolean</span>;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">private </span> <span class="boolean">consistent</span>: <span class="keyword">string</span>;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">private </span> <span class="boolean">dedicated</span>: <span class="keyword">number</span>;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">public </span> <span class="boolean">persistent</span>: <span class="keyword">string</span>;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">public </span> <span class="boolean">criticalThinker</span>: <span class="keyword">boolean</span>;<br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">// Constructor</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">constructor</span>() {{ '{' }}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">this</span>.<span class="boolean">reliable</span> = <span class="keyword">true</span>;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">this</span>.<span class="boolean">consistent</span> = <span class="string">"highly"</span>;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">this</span>.<span class="boolean">dedicated</span> = 100;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">this</span>.<span class="boolean">persistent</span> = <span class="string">"always"</span>;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">this</span>.<span class="boolean">criticalThinker</span> = <span class="keyword">true</span>;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{ '}' }}<br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">// Methods</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">public </span> <span class="method">getJob</span>(): <span class="keyword">string</span> {{ '{' }}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">return </span> <span class="method">this.dedication</span>() && <span class="method">this.eagerToLearn</span>()<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;? <span class="string">"Software Developer Position"</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span class="string">"Keep Improving!"</span>;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{ '}' }}<br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">private </span> <span class="method">dedication</span>(): <span class="keyword">boolean</span> {{ '{' }}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">return </span> <span class="method">this.dedicated</span> === 100;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{ '}' }}<br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">private </span> <span class="method">eagerToLearn</span>(): <span class="keyword">boolean</span> {{ '{' }}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">return </span> <span class="keyword">true</span>;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{ '}' }}<br>
                &nbsp;&nbsp;{{ '}' }}<br>
                {{ '}' }}
            </div>
        </div>
    </div>
</div>