<div class="container">
    <app-common></app-common>
    <div class="row">
        <div class="col-12">
            <div class="code-block fs-4 text-center">
                <span class="boolean"> ['Selected Work']</span>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col d-flex align-items-stretch">
            <a href="https://github.com/globaleaks" target="_blank" class="text-decoration-none w-100">
                <div class="card project-card h-100">
                    <img src="../../assets/images/globaleaks.png" class="card-img-top" alt="Globaleaks">
                    <div class="card-body text-center overlay">
                        <h3 class="card-title my-5">Angular & Python Project</h3>
                        <p class="card-text">Globaleaks whistleblowing platform developed using Angular and Python.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col d-flex align-items-stretch">
            <a href="https://tuf.edu.pk" target="_blank" class="text-decoration-none w-100">
                <div class="card project-card h-100">
                    <img src="../../assets/images/uof.png" class="card-img-top" alt="University">
                    <div class="card-body text-center overlay">
                        <h3 class="card-title my-5">Angular & Java Project</h3>
                        <p class="card-text">University website and School Management System (SMS) created with Laravel,
                            Angular, and Java APIs.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col d-flex align-items-stretch mt-3">
            <a href="https://trackmypackage.net" target="_blank" class="text-decoration-none w-100">
                <div class="card project-card h-100">
                    <img src="../../assets/images/trackmypackage.png" class="card-img-top" alt="TrackMyPackage">
                    <div class="card-body text-center overlay">
                        <h3 class="card-title my-5">PHP Project</h3>
                        <p class="card-text">TrackMyPackage courier website built with core PHP, JavaScript, and MySQL.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>